.logo {
    font-size: 24px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 700; 
}
body {
    font-family: "Inter", sans-serif;
    line-height: 1.5;
    background: #ffffff;
    overflow-x: hidden;
    font-size: 14px; 
}
.site-nav {
    position: absolute;
    top: 0;
    z-index: 9;
    width: 100%; 
    padding-top: 20px;
    padding-bottom: 20px; 
}
.site-nav h1 {
    margin: 0;
    padding: 0;
    font-size: 24px; 
}
.site-nav .site-navigation .site-menu {
    margin-bottom: 0; 
}
.site-nav .site-navigation .site-menu > li {
    display: inline-block; 
}
.site-nav .site-navigation .site-menu > li > a {
    font-size: 14px;
    padding: 10px 15px;
    display: inline-block;
    text-decoration: none !important;
    color: rgba(255, 255, 255, 1); 
}
.site-nav .site-navigation .site-menu > li > a:hover {
    background-color: #4700D8; 
}
.site-nav .site-navigation .site-menu > li.cta-button a {
    padding: 6px 20px;
    color: #000000;
    border-radius: 30px; 
}
.site-nav .site-navigation .site-menu > li.cta-button a:hover {
    color: #000000;
    background: #1A374D;
    border-color: #1A374D; 
}
.site-nav .site-navigation .site-menu > li.active > a {
    background-color: #4700D8; 
}
.hero-background{
    background-image: url("https://kelompok-4-hacktiv.netlify.app/img/back.png");
    background-size: cover;
    height: 330px;
    margin-top: 50px;
}

.hero {
    padding: 7rem 0 10rem 0;
    background: rgba(133, 174, 255, 0.6);
    margin-bottom: 100px; 
    background-size: cover;
    height: 330px;
    margin-top: 50px;
}
.hero.hero-inner {
    padding: 9rem 0 7rem 0;
    margin-bottom: auto;
    background: rgba(133, 174, 255, 0.6); 
    background-size: cover;
    height: 330px;
    margin-top: 50px;
}
* {
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus,
*:active {
    outline: 0 !important;
    box-shadow: 0 !important;
}

body {
    background: rgb(68, 100, 173);
    background: linear-gradient(100deg,
            rgba(68, 100, 173, 1),
            rgb(20, 76, 180));
    color: white;
    min-height: 100vh;
    margin-bottom: 2rem;
}

header {
    text-shadow: 2px 2px 15px rgb(176, 230, 255);
    font-size: 1.2rem;
}

header,
form {
    min-height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input,
form button {
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    font-size: 1.8rem;
    border: none;

    background: #f4f4f4;
}

form button {
    padding: 0.5rem 1rem;
    color: rgb(21, 62, 110);
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover {
    background: rgb(21, 62, 110);
    color: white;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 30%;
    list-style: none;
}

.todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5rem;
    background: white;
    font-size: 1.5rem;
    transition: all 0.5s ease;
}

form input,
.todo {
    color: rgb(88, 87, 87);
}

.todo li {
    flex: 1;
}

.trash-btn,
.check-btn {
    background-color: rgb(21, 62, 110);
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1.2rem;
    transition: 0.2s all ease;
}

.check-btn {
    background-color: rgba(68, 100, 173, 1);
}

.check-btn:hover {
    background-color: rgba(68, 100, 173, 1);
    color: white;
}

.trash-btn:hover {
    color: white;
    background-color: rgb(21, 62, 110);
    ;
}

.todo-item {
    padding: 0rem 1.2rem;
}

.fa-trash,
.fa-check {
    pointer-events: none;
}

.completed {
    opacity: 0.6;
    text-decoration: line-through;
}

.fall {
    animation: fall-apart 0.5s ease-out;
}

@keyframes fall-apart {
    100% {
        transform: rotateZ(20deg) translateY(8rem);
        opacity: 0;
    }
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
    font-size: 1.2em;
    color: rgb(21, 62, 110);
    width: 15rem;
    cursor: pointer;
    padding: 1rem;
}

.select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

.select::after {
    content: "\25BC";
    position: absolute;
    background: rgb(21, 62, 110);
    right: 0;
    padding: 1.2rem;
    pointer-events: none;
    transition: all 0.3s ease;
}

.select:hover::after {
    background-color: white;
    color: rgb(21, 62, 110);
}
.site-footer {
    font-size: 14px;
    color: #777;
    line-height: 1.6; 
}
.site-footer .inner {
    padding-top: 0px;
    padding-bottom: 70px;
    background: #f8f9fa; 
}
.site-footer .inner.first {
    padding-top: 80px; }
.site-footer .widget {
    margin-bottom: 30px; }
.site-footer .widget h3 {
    font-size: 14px;
    margin-bottom: 20px;
    color: #000000;
    font-family: "Inter", sans-serif; }
.site-footer .widget .social li {
    display: inline-block; }
.site-footer .widget .social li a {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #1A374D;
    display: inline-block;
    position: relative;
    color: #ffffff;
    -webkit-box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.2); 
}
.site-footer .widget .social li a span {
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); 
}
.site-footer .widget .social li a:hover {
    background-color: #1A374D;
    color: #ffffff; 
}
.site-footer .widget .links li {
    display: block;
    margin-bottom: 10px; 
}
.site-footer .widget .links li a {
    color: #000000; 
}
.site-footer .widget .links li a:hover {
    color: #000000;
    text-decoration: underline; 
}
.site-footer ul.quick-info li {
    position: relative;
    padding-left: 30px; 
}
.site-footer ul.quick-info li:before {
    left: 0;
    position: absolute;
    content: "";
    font-family: 'icomoon';
    color: #6998AB;
}
.site-footer ul.quick-info li.email:before {
    content: "\f0e0"; 
}
.site-footer ul.quick-info li.phone:before {
    content: "\f095"; 
}
.site-footer ul.quick-info li.address:before {
    content: "\e8b4"; 
}
.section-title {
    position: relative;
    padding-bottom: 20px;
    display: inline-block; 
}
.section-title:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 30px;
    height: 2px;
    background: #4700D8; 
}
.section-title.text-center:before {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); 
}
.partner{
    color: white;
}
